<!--<nav class="navbar navbar-dark bg-dark">-->
<!--    <span style="margin-top: 0;font-size: 38px;" class="navbar-brand mb-0 h1">FHIR Scheduler</span>-->
<!--</nav>-->
<div style="margin:20px">
  <div style="margin-bottom: 20px;">
    <table>
      <tr>
        <th><label for='typeOfJob'>Please Select Type of job : </label></th>
        <mat-radio-group [(ngModel)]='jobType' (change)='resetCron()' color='primary' labelPosition='after'
                         #radio='ngModel'>
          <th>
            <mat-radio-button [value]=false>AD-HOC JOB</mat-radio-button>
          </th>
          <th>
            <mat-radio-button [value]=true checked>NORMAL JOB</mat-radio-button>
          </th>
        </mat-radio-group>
      </tr>
    </table>
  </div>

  <form [formGroup]="schedulerForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">


    <!-- This will be enabled in not edit mode  -->
    <table>
      <tr>
        <th>Please Select a job here :</th>
        <th><select *ngIf='!isEditMode' style="width:200px" formControlName='jobName'
                    (change)="assignJob($event.target.value)" class="form-control" name="demo" id="#">
          <option value=''>Please Select Job</option>
          <!-- <option  selected =''></option> -->
          <option *ngFor="let job of availableJobs; index as i">{{job.job_name}}</option>


        </select>

          <select *ngIf='isEditMode' disabled style="width:200px" class="form-control">
            <option [ngValue]=''>{{editJobName}}</option>
          </select>
        </th>
      </tr>
    </table>

    <br/>
    <br/>
    <table *ngIf='!jobType'>
      <tr>
        <td>Enter Date and Time:</td>
        <td>
          Year:
          <input [readonly]='jobType' type="text"
                 name="year"
                 id="year"
                 class="form-control"
                 formControlName="year"
                 style="width:100px"/>
        </td>
        <td>
          Month:
          <input [readonly]='jobType' type="text"
                 name="month"
                 id="month"
                 class="form-control"
                 formControlName="month"
                 style="width:100px"/>
        </td>
        <td>
          Day:
          <input [readonly]='jobType' type="text"
                 name="day"
                 id="day"
                 class="form-control"
                 formControlName="day"
                 style="width:100px"/>
        </td>
        <td>
          Hour(24-hour):
          <input [readonly]='jobType' type="text"
                 name="hour"
                 id="hour"
                 class="form-control"
                 formControlName="hour"
                 style="width:100px"/>
        </td>
        <td>
          Minute:
          <input [readonly]='jobType' type="text"
                 name="minute"
                 id="minute"
                 class="form-control"
                 formControlName="minute"
                 style="width:100px"/>
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="padding: 5px;" colspan="5">
          <b>If given date/time is invalid then job will not get scheduled.
            If given date is older than current date then job will be started immediately</b>
        </td>
      </tr>

    </table>

    <table *ngIf='jobType'>
      <tr>
        <td style="padding: 5px;">
          Enter Cron expression :
        </td>
        <td>
          <input type="text"
                 name="cronExpression"
                 id="cronExpression"
                 class="form-control"
                 formControlName="cronExpression"
                 style="width:200px"/>
        </td>
        <td>Select Sample Cron:</td>
        <td>
          <select (change)="cronChange($event.target.value)"
                  style="height: 34px" class="form-control">
            <option value="0 0/10 * 1/1 * ? *">Every 10 minutes</option>
            <option value="0 0 10 1/1 * ? *">Every day at 10 AM</option>
            <option value="0 0 0/1 1/1 * ? *">Every hour starting 10 AM</option>
            <option value="0 0 10 ? * TUE,THU *">Every week Tue and Thur at 10 AM</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          <b>*If CronExpression is invalid job will not be scheduled </b>
        </td>
      </tr>
    </table>
    <p style="color:#d91d1d" *ngIf="radio.value && (schedulerForm.get('cronExpression').status =='INVALID')"><strong>*Please
      Enter A Valid Cron Expression </strong></p>
    <p style="color:#d91d1d"
       *ngIf="!radio.value && ((schedulerForm.get('year').status =='INVALID')||(schedulerForm.get('jobName').status =='INVALID')||(schedulerForm.get('month').status =='INVALID')||(schedulerForm.get('hour').status =='INVALID')||(schedulerForm.get('minute').status =='INVALID')||(schedulerForm.get('day').status =='INVALID')) "
    ><strong>*Please Enter Valid Time</strong></p>
    <table>
      <tr>
        <td style="padding: 5px;" colspan="2">

          <!-- Used only in case of Adding New Job -->
          <button
            [disabled]="(schedulerForm.get('cronExpression').status =='INVALID')||(schedulerForm.get('jobName').status =='INVALID')"
            mat-raised-button color="primary"
            (click)="scheduleJob()"
            *ngIf="!isEditMode && radio.value"
            value="Submit">Submit
          </button>

          <button
            mat-raised-button color="primary"
            [disabled]="(schedulerForm.get('year').status =='INVALID')||(schedulerForm.get('jobName').status =='INVALID')||(schedulerForm.get('month').status =='INVALID')||(schedulerForm.get('hour').status =='INVALID')||(schedulerForm.get('minute').status =='INVALID')||(schedulerForm.get('day').status =='INVALID')"
            (click)="scheduleJob()"
            *ngIf="!isEditMode && !radio.value"
            value="Submit">Submit
          </button>


          <!-- Used only in case of Edit Job -->
          <button
            mat-raised-button color="primary"
            (click)="updateJob()"
            *ngIf="isEditMode"
            value="Update">Update
          </button>

          <button
            style="margin-left: 10px;"
            mat-raised-button color="primary"
            (click)="cancelEdit()"
            *ngIf="isEditMode"
            value="Cancel">Cancel
          </button>

        </td>
      </tr>
    </table>

  </form>
  <br/>

  <mat-divider></mat-divider>

  <div>

    <br/><br/>
    <label style="color: red">
      Note:<br/>
      1. Completed jobs will not be shown in listing.
      <br/>
      2. If job is in "RUNNING" state then no action like "Pause, Resume, Delete, Edit" is allowed. </label>
    <br/><br/>
    <label><h4>Job List:</h4></label>
    <!-- <hr style="width: 100px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px;color: black; border-top:5px ;"> -->
    <table class="table  table-hover" border="4" style="width : 100%;">
      <thead>
      <th>Job Name</th>
      <th>Job Schedule Time</th>
      <th>Job Last Fired Time</th>
      <th>Job Next Fire Time</th>
      <th>Action</th>
      <th>Job Status</th>
      </thead>
      <tbody>
      <ng-container *ngFor="let jobRec of jobRecords;let i=index">
        <tr>
          <td>{{jobRec.jobName}}</td>
          <td>{{jobRec.scheduleTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{jobRec.lastFiredTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{jobRec.nextFireTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>
            <button mat-raised-button color="primary"
                    [disabled]="jobRec.jobStatus == 'RUNNING' || jobRec.jobStatus == 'STOP INITIATED' "
                    (click)='startJobNow(jobRec.jobName)'>Start Job Now
            </button>
            |

            <button mat-raised-button color="primary"
                    [disabled]="jobRec.jobStatus != 'SCHEDULED'"
                    (click)='pauseJob(jobRec.jobName)'>Pause Job
            </button>
            |

            <button mat-raised-button color="primary"
                    [disabled]="jobRec.jobStatus != 'PAUSED'"
                    (click)='resumeJob(jobRec.jobName)'>Resume Job
            </button>
            |

            <button mat-raised-button color="primary"
                    [disabled]="jobRec.jobStatus == 'RUNNING' || jobRec.jobStatus == 'STOP INITIATED' "

                    (click)='deleteJob(jobRec.jobName)'>Delete Job
            </button>
            |

            <button mat-raised-button color="primary"
                    [disabled]="jobRec.jobStatus != 'RUNNING' || jobRec.jobStatus == 'STOP INITIATED'"

                    (click)='stopJob(jobRec.jobName)'>Stop Job
            </button>
            |

            <button mat-raised-button color="primary"
                    [disabled]="jobRec.jobStatus == 'RUNNING' || jobRec.jobStatus == 'STOP INITIATED' "
                    (click)='editJob(jobRec)'>Edit Job
            </button>
          </td>
          <td>{{jobRec.jobStatus}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <mat-divider class="mt-5 mb-5"></mat-divider>
  </div>

</div>






