<h3 *ngIf="!isUpdate" mat-dialog-title>Configure Job</h3>
<h3 *ngIf="isUpdate" mat-dialog-title>Update Job</h3>
<mat-dialog-content>


  <p *ngIf="success && typeOfJob" style="color: green ; background: antiquewhite"><strong
    class="d-flex justify-content-start p-2">Sucess : Job Successfully Created Please Make Sure Jar Is In Class
    Path </strong></p>

  <p *ngIf="success && !typeOfJob" style="color: green ; background: antiquewhite"><strong
    class="d-flex justify-content-start p-2">Sucess : Job Successfully Created Please Make Sure Web Service Is
    Available </strong></p>


  <p *ngIf="failure" style="color: red;background: antiquewhite"><strong class="d-flex justify-content-start p-2">Error
    : Given Job Name Already Exists Please Change The Job Name </strong></p>

  <p *ngIf="isUpdate && message" style="color: Blue ; background: antiquewhite"><strong
    class="d-flex justify-content-start p-2"> Nothing To Update </strong></p>

  <p *ngIf="isUpdate && updateSuccess" style="color: green ; background: antiquewhite"><strong
    class="d-flex justify-content-start p-2"> {{successMessage}}  </strong></p>


  <p *ngIf="isUpdate && updateFailure" style="color: red ; background: antiquewhite"><strong
    class="d-flex justify-content-start p-2"> {{failureMessage}}  </strong></p>

  <mat-radio-group class="mt-2" aria-label="Select an option" color="primary" [(ngModel)]="typeOfJob">

    <mat-radio-button [value]=true [checked]="typeOfJob">Jar File</mat-radio-button>
    <mat-radio-button class="ml-3" [value]=false [checked]="!typeOfJob">Web Service</mat-radio-button>
  </mat-radio-group>


  <form #jobForm="ngForm">
    <div *ngIf="!isUpdate">

      <div *ngIf="!typeOfJob" ngModelGroup="urlGroup" #f='ngModelGroup'>

        <div>
          <mat-form-field class="input">
            <mat-label>Job Name</mat-label>
            <input name='jobName' matInput ngModel #jobName='ngModel' required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="input">
            <mat-label>Start Url</mat-label>
            <input ngModel matInput name="starturl" #start='ngModel' required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input">
            <mat-label>Stop Url</mat-label>
            <input ngModel name="stopurl" #stop='ngModel' matInput>

          </mat-form-field>
        </div>
      </div>


      <div *ngIf="typeOfJob" ngModelGroup="classGroup">

        <div>
          <mat-form-field class="input">
            <mat-label>Job Name</mat-label>
            <input name='jobName' matInput ngModel #jobName='ngModel' required>

          </mat-form-field>
        </div>
        <div>

          <div>
            <mat-form-field class="input">
              <mat-label>Class Path</mat-label>
              <input name='classpath' matAutosize=true matInput ngModel #classpath='ngModel' required>

            </mat-form-field>
          </div>

          <div>

            <mat-form-field class="input">
              <mat-label>Start Method</mat-label>
              <input ngModel matInput name="startmethod" #start='ngModel' required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="input">
              <mat-label>Stop Method</mat-label>
              <input ngModel name="stopmethod" #stop='ngModel' matInput>

            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="input">
              <mat-label>Parameters</mat-label>
              <input ngModel name="parameters" #parameter='ngModel' matInput>

            </mat-form-field>
          </div>

        </div>

      </div>
      <div class="d-flex justify-content-end">
        <button (click)="onSubmit()" *ngIf="!isUpdate" [disabled]="!jobForm.valid" mat-raised-button color="primary">
          Submit
        </button>

        <button (click)="onUpdate()" *ngIf="isUpdate" [disabled]="!jobForm.valid" mat-raised-button color="primary">
          Update
        </button>


        <button class='ml-3' (click)="close()" mat-raised-button color="warn">Close</button>

      </div>

    </div>
  </form>


  <form [formGroup]="updateForm" *ngIf="isUpdate">
    <div *ngIf="!typeOfJob" formGroupName="urlGroup">

      <div>
        <mat-form-field class="input">
          <mat-label>Job Name</mat-label>
          <input formControlName='jobName' matInput required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="input">
          <mat-label>Start Url</mat-label>
          <input matInput formControlName="startUrl">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="input">
          <mat-label>Stop Url</mat-label>
          <input formControlName="stopUrl" matInput>

        </mat-form-field>
      </div>
    </div>


    <div *ngIf="typeOfJob" formGroupName="classGroup">

      <div>
        <mat-form-field class="input">
          <mat-label>job Name</mat-label>
          <input formControlName='jobName' matInput required>

        </mat-form-field>
      </div>
      <div>

        <div>
          <mat-form-field class="input">
            <mat-label>Class Path</mat-label>
            <input formControlName='classPath' matInput required>

          </mat-form-field>
        </div>

        <div>

          <mat-form-field class="input">
            <mat-label>Start Method</mat-label>
            <input matInput formControlName="startMethod" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="input">
            <mat-label>Stop Method</mat-label>
            <input matInput formControlName="stopMethod" >

          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="input">
            <mat-label>Parameters</mat-label>
            <input formControlName="parameters" matInput>

          </mat-form-field>
        </div>

      </div>

    </div>

    <div class="d-flex justify-content-end">
      <button (click)="onUpdate()" *ngIf="isUpdate && typeOfJob" [disabled]="!updateForm.get('classGroup').valid"
              mat-raised-button color="primary">Update
      </button>
      <button (click)="onUpdate()" *ngIf="isUpdate && !typeOfJob" [disabled]="!updateForm.get('urlGroup').valid"
              mat-raised-button color="primary">Update
      </button>

      <button class='ml-3' (click)="close()" mat-raised-button color="warn">Close</button>

    </div>

  </form>


</mat-dialog-content>
